<section class="section">
  <div id="timeline">
    <a href="/api/signout">Signout</a>

    <div>😡
    <input type="range" min="0.09" max="1" step="any" v-model="sliders.anger"></div>
    <br>
    <div>🤢
    <input type="range" min="0.09" max="1" step="any" v-model="sliders.disgust"></div>
    <br>
    <div>😱
    <input type="range" min="0.09" max="1" step="any" v-model="sliders.fear"></div>
    <br>
    <div>😊
    <input type="range" min="0.09" max="1" step="any" v-model="sliders.joy"></div>
    <br>
    <div>😢
    <input type="range" min="0.09" max="1" step="any" v-model="sliders.sadness"></div>
    <ul>
      <li v-for="tweet in feed" v-if="matchesSelection(tweet)">
          <article class="media">
              <figure class="media-left">
                  <p class="image is-64x64">
                      <img :src="tweet.user.profile_image_url">
                      

                  </p>
                  
              </figure>
              <div class="media-content">
                  <div class="content">
                      <p>
                          <strong>\{{ tweet.user.name }}</strong> <small>@ \{{tweet.user.screen_name}}</small> 
                          <br><small>\{{tweet.created_at | truncate 20}}</small>
                          <br />
                          \{{ tweet.text }}

                      </p>
                  </div>
                  <nav class="level is-mobile">
                      <div class="level-left">
                          <a class="level-item">
                              <span class="icon is-small"><i class="fa fa-reply"></i></span>
                          </a>
                          <a class="level-item">
                              <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                          </a>
                          <a class="level-item">
                              <span class="icon is-small"><i class="fa fa-heart"></i></span>
                          </a>
                      </div>
                  </nav>
              </div>
              
          </article>
        <div v-for="tone_category in tweet.tone.document_tone.tone_categories" v-if="tone_category.category_id === 'emotion_tone'">
          <h2 style="display: inline;" v-for="tone in tone_category.tones" {{!-- v-if="tone.score > 0.1" --}}>
            <span :style="'opacity: ' + tone.score">\{{ toneEmojis[tone.tone_id] }}</span>
              
          </h2>
        </div>
          </br>
      </li>
    </ul>
  </div>
</section>


<script src="/assets/js/timeline.js"></script>
